<h1 class="text-warning">Movies#index</h1>
<p class="text-warning-emphasis">Listado de peliculas</p>

<%  @movie_all.each do |pelicula| %>
    <h2><%= pelicula.name %></h2>
    <p class="text-primary-emphasis"><%= pelicula.synopsis %></p>
    <p class="text-success"><%= pelicula.director %></p>
    <% end%>
