<h1 class="text-danger-emphasis">Documentary#index</h1>
<p class="text-danger">Listados de Documentales</p>

<% @documentary_all.each do |documental| %>
    <h2><%= documental.name %></h2>
    <p class="text-success"><%= documental.synopsis %></p>
    <p class="text-success"><%= documental.director %></p>
    <% end%>
